@model UpdatedParty.Models.Gallery
@{
    ViewBag.Title = "Borrar";
}
@Html.HiddenFor(model => model.BarId)
<h2>
    Borrar</h2>
<h3 style="color: Yellow">
    ¿Estas seguro de borrar la imagen?</h3>
<fieldset>
    <img src="@Html.DisplayFor(model => model.UrlImage)" alt="Imagen" style="width: 570px" />
</fieldset>
@using (Html.BeginForm())
{
    <p>
        <input type="image" src="../../Content/images/Borrar.png" alt="Borrar" style="vertical-align: middle" />
        |
        @Html.ActionLink("Regresar a la lista", "Index", null, new { style = "vertical-align: middle" })
    </p>
}
