@model IEnumerable<UpdatedParty.Models.Gallery>

@{
    ViewBag.Title = "Listado";
    Layout = "~/Views/Shared/_Interior.cshtml";
}

<h2>Listado de imágenes</h2>

<p>
    @Html.ActionLink("Nueva imagen", "Create")
</p>
<table>
    <tr>
        <th>
            Imagen
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @*@Html.DisplayFor(modelItem => item.UrlImage)*@
            <img src="@Html.DisplayFor(modelItem => item.UrlImage)" alt="Imagen" style="width: 570px" />
        </td>
        <td>
            @Html.ActionLink("Cambiar", "Edit", new { id=item.GalleryID })
        </td>
    </tr>
}

</table>
