body
{
    font-family: 'helvetica_neue_lt_std65Md';
    margin: 0;
    background-color: #000;
}

@font-face
{
    font-family: 'bebas_neueregular';
    src: url('bebasneue-webfont/bebasneue-webfont-webfont.eot');
    src: url('bebasneue-webfont/bebasneue-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('bebasneue-webfont/bebasneue-webfont-webfont.woff') format('woff'), url('bebasneue-webfont/bebasneue-webfont-webfont.ttf') format('truetype'), url('bebasneue-webfont/bebasneue-webfont-webfont.svg#bebas_neueregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*
@font-face
{
    font-family: 'helveticaneueltstd-md-webfont';
    src: url(font/helveticaneueltstd-md-webfont.ttf);
}
*/
@font-face
{
    font-family: 'helvetica_neue_lt_std65Md';
    src: url('helveticaneueltstd-md/helveticaneueltstd-md-webfont-webfont.eot');
    src: url('helveticaneueltstd-md/helveticaneueltstd-md-webfont-webfont.eot?#iefix') format('embedded-opentype'), url('helveticaneueltstd-md/helveticaneueltstd-md-webfont-webfont.woff') format('woff'), url('font/helveticaneueltstd-md-webfont.ttf') format('truetype'), url('helveticaneueltstd-md/helveticaneueltstd-md-webfont-webfont.svg#futuracondensed_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face
{
    font-family: 'futuracondensed_medium';
    src: url('futura-condensed-medium/futura-condensed-medium-webfont.eot');
    src: url('futura-condensed-medium/futura-condensed-medium-webfont.eot?#iefix') format('embedded-opentype'), url('futura-condensed-medium/futura-condensed-medium-webfont.woff') format('woff'), url('futura-condensed-medium/futura-condensed-medium-webfont.ttf') format('truetype'), url('futura-condensed-medium/futura-condensed-medium-webfont.svg#futuracondensed_medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

a
{
    color: white;
    text-decoration: none;
}

h1
{
    color: White;
}
p
{
    color: #fff;
    margin: 5px;
}

.upheader
{
    width: 1024px;
    height: 250px;
    margin: 0 auto;
    background-color: #000;
}

table
{
    background-color: #000000;
}
table td
{
    border: 1px solid #fff;
}

.mainWrapper
{
    width: 1024px;
    margin: 0 auto;
}

#logo
{
    float: left;
    width: 300px;
    height: 222px;
    background: #000 url('images/sprites-header.png') no-repeat 0px 0px !important;
}
#slogan
{
    float: left;
    margin: 50px 62px 0 62px;
    width: 300px;
    height: 144px;
    font-family: futuracondensed_medium;
    text-align: center;
    line-height: 24px;
    font-weight: lighter; /*background: #000 url('images/sprites-header.png') no-repeat 0px -232px !important;*/
}
#register
{
    float: left;
    margin-top: 50px;
    width: 300px;
    height: 147px;
    background: #000 url('images/sprites-header.png') no-repeat 0px -386px !important;
    text-align: center;
}

#whatsup
{
    width: 300px;
    height: 195px;
    background: #000 url('images/sprites-header.png') no-repeat 0px -543px !important;
}

#antrosbares
{
    float: left;
    width: 278px;
    height: 195px;
    background: #000 url('images/sprites-header.png') no-repeat 0px -748px !important;
}

#logoUP
{
    position: absolute;
    left: -15px;
    top: 15px;
    width: 70px;
    height: 70px;
    background: transparent url('images/sprites-menu.png') no-repeat 0px -91px !important;
    display: inline-block;
}

#blog
{
    float: left;
    width: 300px;
    height: 195px;
    background: #000 url('images/sprites-header.png') no-repeat 0px -948px !important;
}

#headache
{
    float: left;
    width: 300px;
    height: 195px;
    background: #000 url('images/sprites-header.png') no-repeat 0px -1358px !important;
}

#contacto
{
    float: left;
    width: 300px;
    height: 195px;
    background: #000 url('images/sprites-header.png') no-repeat 0px -1148px !important;
}

#contactoTitle
{
    float: left;
    width: 107px;
    height: 58px;
    background: #000 url('images/sprites-contact.png') no-repeat 0px 0px !important;
}

#newsLetter
{
    float: left;
    margin-left: 10px;
    width: 147px;
    height: 57px;
    background: #000 url('images/sprites-contact.png') no-repeat 0px -70px !important;
}

#facebook
{
    margin-left: 5px;
    width: 84px;
    height: 80px;
    background: transparent url('images/sprites-contact.png') no-repeat 0px -135px !important;
}

#twitter
{
    margin-left: 5px;
    width: 80px;
    height: 84px;
    background: transparent url('images/sprites-contact.png') no-repeat 0px -225px !important;
}

#advancedSearch
{
    clear: both;
    width: 100%;
    height: 45px;
    background: #000 url('images/sprites-titles.png') no-repeat 0px 0px !important;
}
#advancedSearch:hover
{
    height: 45px;
    background-image: url("images/busqueda-avanzada-rollover.png");
}

#leftArrow
{
    width: 24px;
    height: 25px;
    display: inline-block;
    background: transparent url('images/sprites-menu.png') no-repeat 0px 0px !important;
}
#rightArrow
{
    width: 24px;
    height: 25px;
    display: inline-block;
    background: transparent url('images/sprites-menu.png') no-repeat 0px -35px !important;
}

#siguiente
{
    color: white;
}

#siguiente a
{
    color: yellow;
}

.tAdvancedSearch
{
    background-color: transparent;
}

.tAdvancedSearch td
{
    border: 1px solid #000;
    background-color: #1C1C1C;
}
.tAdvancedSearch p
{
    margin: 5px 10px 5px 20px;
    color: #FF3430;
    display: inline;
}

.menu
{
    margin: 0 auto;
    width: 1024px;
    height: 50px;
    background-color: #000;
    color: White;
    font-size: 30px;
    text-align: center;
    font-family: bebas_neueregular;
    z-index: 1000;
}
.menu ul
{
    margin: 0 0 0 -55px;
    padding: 0;
}
.menu li
{
    list-style: none;
    line-height: 50px;
    padding: 1px;
    margin-left: 40px;
    display: inline;
    position: relative;
}

.menu a:hover
{
    text-decoration: none;
    color: yellow;
}

.menu h2
{
    font-size: 30px;
    font-weight: lighter;
    margin: 0;
    padding: 0;
    line-height: inherit;
    display: inline;
}

.asideMenu
{
    float: left;
    width: 224px;
    border-bottom: 1px solid #cccccc;
    font-size: 14px;
    height: auto;
    background-color: #000000;
}

.asideMenu ul
{
    margin: 0;
    padding: 12px;
}

.asideMenu li
{
    list-style: none;
    height: 31px;
}

.asideMenu li:hover
{
    background-color: yellow;
}

.asideMenu li:hover a
{
    color: black;
}

.asideMenu img
{
    float: left;
}

.asideMenu a
{
    color: yellow;
    text-decoration: none;
    padding: 5px;
}

#section1
{
    clear: both;
    margin: 0 auto;
    width: 100%;
    height: auto;
    background-color: #000;
    color: White;
    text-align: center;
    border-bottom: 2px dotted #C1C4C9;
    overflow: hidden;
}
#section2
{
    width: 100%;
    height: auto;
    border-bottom: 2px dotted #C1C4C9;
}

#section4
{
    background-color: #FFFFFF;
    width: 100%;
    font-size: 14px;
}

#footerWrap
{
    width: 100%;
    margin: 0 auto;
    color: #560787;
}

.supSearch
{
    border-collapse: collapse;
    width: 100%;
}

.supSearch th
{
    color: #FFFF00;
    border: none;
    border-bottom: 6px solid #000;
    font-weight: lighter;
}
.supSearch td
{
    border: none;
    border-bottom: 6px solid #000;
}
.supSearch p
{
    font-family: "lucida grande" ,lucida,tahoma,helvetica,arial,sans-serif !important;
    font-weight: lighter;
    margin: 0;
    line-height: 20px;
}

.criterion
{
    width: 170px;
    height: 20px;
    position: relative;
}

#ArtRecientes
{
    clear: both;
    width: 1024px;
    height: 36px;
    background: #000 url('images/sprites-titles.png') no-repeat 0px -101px !important;
}

/*Articles*/
.Article
{
    font-size: 18px;
    text-align: justify;
    border-bottom: 2px dotted #C1C4C9;
    font-family: georgia;
    font-weight: lighter;
    overflow: hidden;
}

.Article h3
{
    font-size: 1.5em;
    color: Yellow;
}

.Article p
{
    margin: 8px;
    line-height: 1.8em;
}

.Article a
{
    color: #66FFCC;
    text-decoration: underline;
}

.Article img
{
    max-width: 1024px;
}

.headache
{
    float: left;
    width: 500px;
    margin: 8px;
}

/*Whats up township*/
.styled-select select
{
    background: transparent;
    width: 268px;
    padding: 4px;
    font-size: 16px;
    height: 30px;
    border: 1px solid #2F2F2F;
    color: #FFFF00;
    -webkit-appearance: none;
}

.styled-select
{
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(images/ddlarrow.png) no-repeat right #000000;
}

.styled-select option
{
    background-color: #000000;
}

/*antros y bares township*/
#antrosbares-select select
{
    background: transparent;
    width: 268px;
    padding: 5px;
    font-size: 16px;
    height: 34px;
    border: 1px solid #2F2F2F;
    color: #FF3430;
    -webkit-appearance: none;
}

#antrosbares-select
{
    width: 240px;
    height: 34px;
    overflow: hidden;
    background: url(images/ddlarrow.png) no-repeat right #000000;
}

#antrosbares-select option
{
    background-color: #000000;
}

.LogInWrapper
{
    color: white;
    background-color: #000000;
    font-family: 'helvetica_neue_lt_std65Md';
}

.LogInWrapper span
{
    color: red;
    font-size: 14px;
}

.LogInWrapper label
{
    position: relative;
}

/*Twitter Customization*/

.tweetWrapp
{
    width: 340px;
}

/*Rating*/
#ratingdiv
{
    overflow: hidden;
}
#ratingdiv .undone, #ratingdiv .fade
{
    background: url("images/star.gif") -30px 0 no-repeat;
    width: 28px;
    display: block;
    height: 30px;
    float: left;
    margin-right: 4px;
    text-indent: -99999px;
}
#ratingdiv .done
{
    background: url("images/star.gif") no-repeat;
    width: 28px;
    display: block;
    height: 30px;
    float: left;
    margin-right: 4px;
    text-indent: -99999px;
}
#ratingdiv .undone:hover
{
    background-position: 0;
}
/*Customize Checkbox*/
label
{
    display: inline;
    position: absolute;
    right: 0;
}

.regular-checkbox
{
    display: none;
}

.regular-checkbox + label
{
    background-color: #181818;
    border: 1px solid #cacece;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
    padding: 9px;
    border-radius: 3px;
    display: inline-block; /*position: relative;*/
}

.regular-checkbox + label:active, .regular-checkbox:checked + label:active
{
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked + label
{
    background-color: #FF3430;
    border: 1px solid #adb8c0;
    box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
    color: #99a1a7;
}

.regular-checkbox:checked + label:after
{
    content: '\2714';
    font-size: 14px;
    position: absolute;
    top: 0px;
    left: 3px;
    color: #FFF;
}
.tag
{
    font-family: Arial, sans-serif;
    width: 200px;
    position: relative;
    top: 5px;
    font-weight: bold;
    text-transform: uppercase;
    display: block;
    float: left;
}
.voyair
{
    -moz-box-shadow: inset 0px 0px 0px 0px #f9eca0;
    -webkit-box-shadow: inset 0px 0px 0px 0px #f9eca0;
    box-shadow: inset 0px 0px 0px 0px #f9eca0;
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #666666), color-stop(1, #333333) );
    background: -moz-linear-gradient( center top, #666666 5%, #333333 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#333333');
    background-color: #666666;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid Yellow;
    display: inline-block;
    color: #FFF;
    font-size: 12px;
    font-weight: bold;
    padding: 3px 35px;
    text-decoration: none;
}
.voyair:hover
{
    background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #333333), color-stop(1, #666666) );
    background: -moz-linear-gradient( center top, #333333 5%, #666666 100% );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#333333', endColorstr='#666666');
    background-color: #f2ab1e;
}
.voyair:active
{
    position: relative;
    top: 1px;
}

#Beta
{
    position: absolute;
    top: 0;
    left: 0;
}
#Adjust
{
    position: fixed;
    top: 0;
    right: 50px;
    background-color: transparent;
    line-height: 5px;
}
#Suscribe
{
    float: left;
    margin-top: 50px;
    width: 300px;
    height: 147px;
    text-align: center;
}
#MenuRibbon
{
    clear: both;
    width: 100%;
    height: 18px;
    background-color: #000;
    background-image: url('../Content/images/menuribbon.png');
    background-repeat: repeat-x;
}
#fColum1
{
    width: 20%;
    float: left;
    border-right: 2px dashed black;
}
#fColum2
{
    width: 15%;
    float: left;
    border-right: 2px dashed black;
}
#fColum3
{
    width: 20%;
    float: left;
    color: #5E148D;
    border-right: 2px dashed black;
}
#fColum4
{
    width: 20%;
    height: 150px;
    float: right;
    position: relative;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error
{
    color: #ff0000;
    font-family: 'helvetica_neue_lt_std65Md';
}

.field-validation-valid
{
    display: none;
    font-family: 'helvetica_neue_lt_std65Md';
}

.input-validation-error
{
    border: 1px solid #ff0000;
    background-color: #ffeeee;
    font-family: 'helvetica_neue_lt_std65Md';
}

.validation-summary-errors
{
    font-weight: bold;
    color: #ff0000;
    font-family: 'helvetica_neue_lt_std65Md';
}

.validation-summary-valid
{
    display: none;
}

/* MISC  
----------------------------------------------------------*/
.clear
{
    clear: both;
}

.error
{
    color: Red;
    font-family: 'helvetica_neue_lt_std65Md';
}

/* Bar details-------------------------------------*/
#herenow
{
    clear: both;
}

#herenow img, #herenow span
{
    vertical-align: middle;
}

#herenow span
{
    color: Yellow;
    font-size: 0.7em;
}
