@{
    ViewBag.Title = "AntroSustentable";
    Layout = "~/Views/Shared/_Articles.cshtml";
    <meta property="og:title" content="Antros Sustentables" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.updatedparty.com/AntroSustentable" />
    <meta property="og:image" content="http://www.updatedparty.com/Content/images/Energy%20Floors_small.jpg" />
    <meta property="og:site_name" content="updatedparty.com" />
    <meta property="og:description" content="La posibilidad de salir de antro y ser al mismo tiempo amigable con el ambiente
            aumenta cada día gracias a la piezoelectricidad. Con ella se crean pistas de baile
            con las que los antros pueden autoabastecerse de energía limpia para encender la
            música y luces del lugar hasta que la gente pare de bailar." />
}
<div class="Article">
    <br />
    <br />
    <br />
    <h1 style="font-family: bebas_neueregular; color: #66ffcc; margin: 8px">
        Antros Sustentables</h1>
    <div style="width: 100%; margin: 8px;">
        <div style="float: right; margin: 8px;">
            <a href="http://www.flickr.com/photos/sustainabledanceclub/8263365439/" target="_blank"
                title="Opening of club Watt por Energy Floors, en Flickr">
                <img src="http://farm9.staticflickr.com/8477/8263365439_ecb3d476bb.jpg" width="500"
                    height="333" alt="Opening of club Watt"></a>
        </div>
        <p>
            La posibilidad de salir de antro y ser al mismo tiempo amigable con el ambiente
            aumenta cada día gracias a la piezoelectricidad. Con ella se crean pistas de baile
            con las que los antros pueden autoabastecerse de energía limpia para encender la
            música y luces del lugar hasta que la gente pare de bailar.</p>
        <p>
            La piezoelectricidad -del griego piezein, "apretar"- es un fenómeno presentado por
            determinados cristales -naturales o sintéticos- que al ser sometidos a tensiones
            mecánicas -presión- adquieren una polarización eléctrica en su masa, es decir, producen
            electricidad. Esta tecnología se está desarrollando y aplicando a pistas de baile
            en antros de diferentes partes del mundo.
        </p>
        <div style="width: 500px; overflow: hidden; float: left">
            <iframe width="480" height="360" align="left" src="http://www.youtube.com/embed/rzb3VFi3Sew"
                frameborder="0" allowfullscreen></iframe>
        </div>
        <p>
            Con esta tecnología, las pistas de baile funcionan de manera que capturan la energía
            de cada pisada que damos al bailar para utilizarla como una fuente limpia de electricidad.
            Al final, las pistas se convierten en un gran generador, haciendo de cada movimiento
            energía limpia y abundante -checa este video.</p>
        <p>
            Existen otros métodos -no tan tecnológicos- que contribuyen a la responsabilidad
            ecológica en los antros, por ejemplo, se utiliza agua de lluvia para los baños o
            las paredes se forran de materiales que no absorben el sonido y así se evita incrementar
            el volumen de la música. De cualquier forma, todas estas acciones contribuyen a
            nuestro entorno y además ayudan a disminuir los costos para los negocios.
        </p>
        <p>
            En Estados Unidos y Europa ya se comercializan estas pistas y se han convertido
            en elementos sumamente atractivos. Checa este sitio <a style="color: #66ffcc" target="_blank"
                href="http://www.sustainabledanceclub.com/">Energy Floors</a>. Esperemos que
            la piezoelectricidad se desarrolle rápidamente para pronto ver antros en México
            con esta tecnología -seguro serán muy productivas estas pistas de baile en los salones
            de nuestro país, donde, como decimos: "hasta brillo le sacamos a la pista".</p>
        <p>
            <div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-font="lucida grande"
                data-colorscheme="dark" data-action="recommend">
            </div>
        </p>
        <p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
        <br />
    </div>
</div>
<br />
<div id="fb-root">
</div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
