@{
    ViewBag.Title = "Términos, Condiciones y Política de Privacidad";
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<div style="width: 100%; text-align: justify">
    <br/>
    <h2 style="color: yellow">
        Términos, Condiciones y Política de Privacidad</h2>
    <p>
        Los usuarios registrados en updatedparty.com usarán el sitio bajo su propia responsabilidad
        y de buena fe, conforme a lo permitido por el sitio, lo establecido en los presentes
        Términos, Condiciones y Política de Privacidad y la legislación aplicable.
    </p>
    <p>
        La utilización del sitio implica la aceptación de los presentes Términos, Condiciones
        y Política de Privacidad. Asimismo, su uso implica la autorización a updatedparty.com
        para que use y trate la información y datos personales proporcionados para fines
        relacionados con el sitio.</p>
    <p>
        Updatedparty.com mantiene en todo momento el derecho a restringir o negar al usuario
        el acceso al sitio a su discreción. Asimismo, updatedparty.com podrá modificar en
        cualquier momento los servicios y contenidos del sitio sin necesidad de dar aviso
        alguno.</p>
    <p>
        Updatedparty.com no garantiza la funcionalidad, disponibilidad o continuidad del
        sitio. En ningún caso, updatedparty.com será responsable por daños o perjuicios
        que pudieran surgir debido a deficiencias en su funcionalidad o la falta de disponibilidad
        o continuidad de operación del sitio o cualquiera de sus servicios y contenidos.
        De la misma manera, y debido a que el flujo de información contenida en el sitio
        es público, updatedparty.com no se hace responsable por la falsedad, inexactitud
        o errores en la información contenida en su sitio, por lo que tampoco responderá
        por daños o perjuicios que esto pudiera ocasionar. Asimismo, la información vertida
        por updatedparty.com nunca debe entenderse como recomendaciones o consejos profesionales,
        por lo que no se deben tomar decisiones personales en base a esta.</p>
    <p>
        Los derechos de propiedad intelectual sobre el dominio y sobre los signos distintivos
        del sitio, incluyendo su uso y explotación, pertenecen exclusivamente a updatedparty.com.
        El usar y compartir información en el sitio no otorga derecho o permiso alguno al
        usuario, por lo que, en ningún caso, este adquiere derechos de propiedad intelectual
        o poderes sobre el sitio, sus signos distintivos o el dominio. Lo anterior también
        es aplicable a los derechos de terceros que de alguna manera estén enlazados al
        sitio.</p>
    <p>
        El contenido ofrecido por terceros dentro del sitio, como ligas o banners, no es
        responsabilidad de updatedparty.com. Updatedparty.com solo se limita a ofrecer un
        medio de información y comunicación entre terceros y usuarios del sitio. Esto implica
        que updatedparty.com no garantiza, respalda o aprueba dicho contenido. Updatedparty.com
        no mantiene relación laboral alguna con terceros.</p>
    <p>
        Updatedparty.com se compromete a guardar la máxima protección y confidencialidad
        sobre la información proporcionada por medio del sitio y a utilizarla para fines
        relacionados con el mismo, los cuales pueden incluir fines de:</p>
    <ul style="color: white">
        <li>identificación y verificación;</li>
        <li>contacto;</li>
        <li>información sobre paquetes, promociones, nuevas entradas al blog e información relevante
            relacionada con el sitio; y</li>
        <li>promoción.</li>
    </ul>
    <p>
        No obstante, updatedparty.com podrá usar de manera especial la información proporcionada,
        incluyendo su acceso y difusión, cuando sea necesario por razones legales, administrativas
        o para ejercer acciones legales contra personas que pudieran infringir las condiciones
        del servicio del sitio o causar daños o interferencia sobre sus derechos, los derechos
        de otros usuarios de updatedparty.com o de cualquier tercero que pueda verse afectado
        por dichas actividades y cuando sea necesario para proporcionar y desarrollar los
        servicios del sitio.</p>
    <p>
        Updatedparty.com presume que la información fue introducida por la persona responsable
        o con su consentimiento, siendo esta mayor de edad. Asimismo, updatedparty.com presume
        que la información brindada es verdadera. De considerarlo necesario, updatedparty.com
        podrá verificar la autenticidad de la información.</p>
    <p>
        En todo momento updatedparty.com actuará de buena fe y con el debido cuidado. Updatedparty.com
        brinda niveles de seguridad razonables a la información otorgada por sus usuarios
        para evitar, en la medida de lo posible, su pérdida, mal uso, alteración, acceso
        no autorizado y extracción. No obstante, la protección de la información enviada
        través de Internet no puede ser plenamente garantizada por lo que updatedparty.com
        no se hace responsable del acceso no autorizado a la información o en violación
        a los sistemas de seguridad del sitio. El usuario es el final y único responsable
        de los datos confidenciales con los cuales tenga acceso al sitio.</p>
    <p>
        Updatedparty.com se reserva en todo momento el derecho de modificar los presentes
        Términos, Condiciones y Política de Privacidad, en cuyo caso publicará los nuevos
        Términos, Condiciones y Política de Privacidad en su página de internet “www.updatedparty.com”.
        En caso de no estar de acuerdo con los presentes Términos, Condiciones y Política
        de Privacidad el usuario deberá abstenerse de usar el sitio.</p>
    <p>
        <a style="color: yellow" href="javascript:history.back(1)">Regresar</a>
    </p>
</div>
