@{
    ViewBag.Title = "Bailamos";
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<div class="Article">
    <br />
    <br />
    <br />
    <h1 style="font-family: bebasneue; color: #66ffcc; margin: 8px">
        ¿Bailamos?</h1>
    <div style="width: 100%; margin: 8px;">
        <img src="../../Content/images/Bailar_med.jpg" alt="¿Bailamos?" style="margin: 8px"
            align="right" />
        <p>
            A muchos nos encanta bailar y hacerlo bien tiene numerosas ventajas. Pero… por qué
            lo hacemos. ¿Además de las sensaciones positivas que produce, existe alguna razón
            biológica o evolutiva que nos mueve –casi instintivamente– al ritmo de la música?</p>
        <p>
            Bailar es una forma de reinventarnos, de perdernos en un instante dónde no hay presiones,
            miedos, críticas, no hay nada más que música y ritmo. Es un momento de originalidad
            en donde puedes enamorarte de un ritmo y perderte en él, formar parte de algo más
            grande y no perceptible, por momentos incomprensible. Pero más allá de estas sensaciones,
            algunos científicos creen que nuestra fascinación por el baile es producto de la
            combinación de dos grandes placeres –el movimiento y la música.
        </p>
        <iframe width="480" height="360" align="left" src="http://www.youtube.com/embed/twqM56f_cVo"
            frameborder="0" allowfullscreen></iframe>
        <p>
            No existe una explicación clara de por qué a los humanos nos gusta el movimiento
            pero es obvio cuando observamos lo mucho que nos gusta subirnos a los juegos mecánicos,
            manejar un auto o asistir a distintos tipos de carreras. Existe evidencia que sugiere
            que los humanos somos sensibles a los movimientos de otros cuerpos y estamos en
            sintonía con ellos ya que regiones de nuestro cerebro se activan con simplemente
            observar a otros. Esto ha generado gran especulación entorno a las neuronas espejo,
            que se activan cuando alguien más realiza una acción. En otras palabras, a los humanos
            les gusta observar a otros en movimiento y estar ellos en movimiento también, en
            ambos casos el cerebro reacciona de una manera similar.</p>
        <p>
            Por otro lado, es conocido que la música estimula diversas áreas del cerebro que
            generan placer. Por lo que, si al movimiento le añades un poco de música, se crea
            una combinación placentera y gratificante.</p>
        <p>
            Esta parece una explicación razonable pero hay otras teorías, incluyendo el que
            los humanos bailan por vinculación social o como parte del proceso de selección
            de una pareja -tal vez no sean excluyentes entre sí.</p>
        <p>
            P.D. Se piensa que la habilidad para bailar es producto de nuestra habilidad para
            imitar sonidos, habilidad solamente compartida por humanos, cacatúas y loros. Para
            muestra un botón: <a style="color: #66ffcc" target="_blank" href="http://www.youtube.com/watch?v=ERpIWTh18cY">
                Cockatoo Dances to the Beat</a></p>
        <p>
            <div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-font="lucida grande"
                data-colorscheme="dark" data-action="recommend">
            </div>
        </p>
        <p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
        <br />
        <p style="font-size: 12px">
            Fuente: Scientific American, 2008.<span style="font-style: italic"> Why do we like to
                dance and move to the beat?</span> Disponible en: <a style="color: #66ffcc" target="_blank"
                    href="http://www.scientificamerican.com/article.cfm?id=experts-dance">www.scientificamerican.com
                </a>
        </p>
    </div>
</div>
<br />
<div id="fb-root">
</div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
