@{
    ViewBag.Title = "ContactFail";
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<div style="margin: 0 auto; width: 50%; font-size: 30px">
    <h2 style="color: yellow; font-family: bebasneue;">
        OOPS !!!</h2>
    <p>
        Algo salío mal al contactarnos, intentanlo de nuevo o escríbrenos al <span style="color: yellow">
            contacto@updatedparty.com</span></p>
</div>
