@{
    ViewBag.Title = "Headache";
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<div class="Article">
    <br />
    <br />
    <br />
    <h1 style="font-family: bebasneue; color: #66ffcc; margin: 8px">
        ¿Por qué duele la cabeza después de una borrachera?</h1>
    <div class="headache">
        <p>
            Si alguna vez se te han pasado los tragos seguramente los efectos de la resaca o
            “cruda”, como decimos en México, te son familiares. Uno de los más terribles –tal
            vez el más terrible solo detrás de la cruda moral– es el dolor de cabeza.</p>
        <p>
            Despertar al día siguiente de una borrachera con los ojos hinchados y la boca seca
            e inmediatamente después sentir punzadas dolorosas en la cabeza, como si esta fuera
            a estallar, es sin duda uno de los terrores más grandes de los bebedores. Lo primero
            que viene a esa cabeza en sufrimiento es cómo librarnos de los insoportables efectos
            de la cruda, especialmente del dolor de cabeza. Sin embargo, no todos han pensado
            sobre el proceso que origina este dolor. Aquí te lo explicamos.</p>
    </div>
    <div style="float: left;">
        <img src="../../Content/images/headacheUP_med.jpg" alt="Imagen" />
        <p>
            <div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-font="lucida grande"
                data-colorscheme="dark" data-action="recommend">
            </div>
        </p>
        <p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
    </div>
    <div style="clear: both; margin: 8px;">
        <p>
            La principal causa del dolor de cabeza originado por beber alcohol en exceso es
            la deshidratación. El alcohol es un diurético, es decir, aumenta la excreción de
            orina. El consumo de alcohol hace que una mayor cantidad de agua de tu cuerpo se
            valla en tu orina. He aquí la respuesta de por qué vamos al baño constantemente
            cuando bebemos. El efecto es tan fuerte que, por ejemplo, por cada jarra de cerveza
            que bebes, tu cuerpo pierde hasta 4 jarras de agua. La deshidratación es inminente.
            A medida que haya menos agua en tu cuerpo, obviamente, habrá menos agua en tu cerebro.
            Debido a la deshidratación el cerebro se contrae ligeramente, alejándose de tu cráneo
            y jalando a las membranas que lo rodean, causando aquél espantoso dolor.</p>
        <p>
            Ahora que sabes que el dolor de cabeza durante la resaca es producto de la deshidratación,
            podrás tomar cartas sobre el asunto en la próxima fiesta. La solución es bastante
            obvia: si lo que me causa el terrible dolor de cabeza después de aquella increíble
            fiesta es la deshidratación, entonces hay que hidratarnos. Aunque más obvio aún
            es no beber en exceso. El consejo es simple como el agua, toma constantemente un
            vaso con agua durante la fiesta. Hazlo un hábito. Esto te ayudará a aumentar tu
            resistencia al alcohol y reducir los estragos de la resaca. Un vaso con agua simple
            puede hacer más simple el día después de la borrachera.</p>
        <p>
            Durante los siguientes meses, algunos de nuestros artículos tratarán sobre el porqué
            de la resaca y cómo prevenirla con el fin de ser bebedores más inteligentes.</p>
        <br/>
        <p style="font-size: 12px">
            Fuente: Goldman, J., <span style="font-style: italic">The Anatomy of a Hangover.</span> Disponible en: <a style="color: #66ffcc" target="_blank" href="http://www.myhousecallmd.com/archives/456">
                                                                                                                       www.myhousecallmd.com/archives/456</a></p>
    </div>
</div>
<br />
<div id="fb-root">
</div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
