@{
    ViewBag.Title = "Oktoberfest";
    Layout = "~/Views/Shared/_Articles.cshtml";
    <meta property="og:title" content="Oktoberfest" />
    <meta property="og:type" content="article" />
    <meta property="og:url" content="http://www.updatedparty.com/Oktoberfest" />
    <meta property="og:image" content="http://www.updatedparty.com/Content/images/oktoberfest.jpg" />
    <meta property="og:site_name" content="updatedparty.com" />
    <meta property="og:description" content="Es una celebración anual donde la cerveza es el protagonista, empezando el 21 de
            septiembre y terminado el primer fin de semana de octubre en Alemania." />
}
<div class="Article">
    <br />
    <br />
    <br />
    <h1 style="font-family: bebas_neueregular; color: #66ffcc; margin: 8px">
        Oktoberfest</h1>
    <div style="width: 100%; margin: 8px;">
        <div style="float: right; margin: 8px;">
            <img src="../../Content/images/oktoberfest.jpg" width="500" height="333" alt="Oktoberfest">
            <p>
                [imagen de<a href="http://www.theatlantic.com/infocus/2012/09/oktoberfest-2012/100376/"
                    target="_blank"> The Atlantic</a> ]</p>
        </div>
        <p>
            Es una celebración anual donde la cerveza es el protagonista, empezando el 21 de
            septiembre y terminado el primer fin de semana de octubre en Alemania.</p>
        <p>
            El tipo de cervezas que se sirven son las que cumplen con la regulación del <a href="http://es.wikipedia.org/wiki/Ley_de_pureza_de_1516"
                target="_blank">Reinheitsgebot</a>, que establece que la cerveza solamente se
            debía elaborar a partir de 3 ingredientes: agua, malta de cebada y lúpulo.</p>
        <p>
            Por eso es bueno vivir en un mundo globalizado y en el D.F los pubs hacen honor
            a esta celebración.</p>
        <p>
            Aquí te dejamos una lista de los lugares donde podrás participar en la celebración.</p>
        <ul>
            <li>
                <h3>
                    Black horse</h3>
                <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-prn2/1380404_680344148643958_1365601004_n.jpg"
                    alt="Black horse" />
            </li>
            <li>
                <h3>
                    Celtics Pub</h3>
                <img src="https://fbcdn-sphotos-g-a.akamaihd.net/hphotos-ak-prn1/798409_10151879068607287_1175459327_o.jpg"
                    alt="Celtics Pub" />
            </li>
            <li>
                <h3>
                    La Cervecería de Barrio</h3>
                <p>
                    Coctelería con jager y cerveza, especiales gastronómicos y precios muy especiales.</p>
                <img src="https://fbcdn-sphotos-c-a.akamaihd.net/hphotos-ak-ash3/1274244_571827252854430_1836039801_o.png"
                    alt="Cervecería del barrio" />
            </li>
        </ul>
        <p>
            También puedes visitar el <a href="http://www.clubalemanmex.com.mx/carteloktoberfest.html"
                target="_blank">Club Alemán de México</a></p>
        <p>
            Estamos seguros que hay otros pubs que pueden tener alguna promoción pero no han
            publicado nada. Pero estaremos pendientes para tenerlo actualizado.</p>
        <p>
            Más información en <a href="http://es.wikipedia.org/wiki/Oktoberfest" target="_blank">
                Wikipedia</a> y en <a href="http://www.theatlantic.com/infocus/2012/09/oktoberfest-2012/100376/"
                    target="_blank">The Atlantic</a></p>
    </div>
</div>
