@model UpdatedParty.Models.Newsletter
@{
    ViewBag.Title = "Suscripción";
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<div style="width: 40%; line-height: 25px">
    <h2 style="color: yellow">
        Gracias,</h2>
    <p>
        por suscribirte, pronto recibiras nuestro newsletter.</p>
</div>
