@model UpdatedParty.Models.Newsletter
@{
    ViewBag.Title = "Suscripción";
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<div style="width: 50%; margin: 0 auto;">
    <h2 style="color: yellow; font-family: bebasneue;">
        Gracias por suscribirte</h2>
    <p style="font-size: 20px">
        Pronto recibirás nuestro newsletter.</p>
    <p>
        @Html.ActionLink("Regresar", "Index", null, new { style = "color: yellow" })
    </p>
</div>
