@{
    ViewBag.Title = "Whiskey";
    Layout = "~/Views/Shared/_Articles.cshtml";
}
<div class="Article">
    <br />
    <br />
    <br />
    <h1 style="font-family: bebas_neueregular; color: #66ffcc; margin: 8px">
        ¿Whisky o Whiskey?</h1>
    <div class="headache">
        <p>
            Tomando unos tragos en el Diente de Oro –un muy buen whisky/ey bar en la Condesa–
            notamos que en algunas ocasiones la palabra whisky/ey aparece escrita con “e” y
            en otras no. Si eres fanático de esta bebida, seguro ya sabes a qué se debe, pero
            si no, ahora te lo decimos.</p>
        <p>
            En general, ambas palabras se refieren a la bebida alcohólico que se obtiene de
            la destilación de la malta fermentada de algunos granos y su envejecimiento en barriles
            de madera. Existen diferentes tipos de whiskys/ies como el de malta, grano, mezcla
            de maltas (vatted malt), proveniente de una destilería única (single malt) y mezclado
            (blended).
        </p>
    </div>
    <div style="float: left;">
        <img src="../../Content/images/whisky_med.jpg" alt="¿Whisky o Whiskey?" />
        <p>
            <div class="fb-like" data-send="false" data-width="450" data-show-faces="false" data-font="lucida grande"
                data-colorscheme="dark" data-action="recommend">
            </div>
        </p>
        <p>
            <a href="https://twitter.com/share" class="twitter-share-button" data-lang="en">Tweet</a></p>
        <p>
            <!-- Place this tag where you want the +1 button to render. -->
            <div class="g-plusone" data-annotation="inline" data-width="300">
            </div>
            <!-- Place this tag after the last +1 button tag. -->
            <script type="text/javascript">
                (function () {
                    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                    po.src = 'https://apis.google.com/js/plusone.js';
                    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                })();
            </script>
        </p>
    </div>
    <div style="clear: both; margin: 8px;">
        <p>
            ¿Pero entonces, la “e” hace alguna diferencia? Pues sí, y una muy importante. Escribir
            whisky o whiskey depende del origen y proceso de la bebida. Los productores de Irlanda
            y Estados Unidos suelen utilizar la palabra whiskey, mientras que en Canadá, Escocia,
            Japón, Gales e India omiten la vocal. El proceso de producción es distinto en cada
            país. Esto hace que las bebidas sean poco similares, por ejemplo, el whisky escocés
            es muy distinto a los whiskies estadounidenses como el Tennessee o el bourbon.</p>
        <p>
            El porqué de esta distinción es incierto y existen muchas versiones al respecto.
            Una de ellas dice que los productores estadounidenses e irlandeses agregaron la
            vocal para diferenciar su producto del escocés, ya que lo consideraban de mejor
            calidad.</p>
        <p>
            Si piensas que este tema es menor, investiga cómo le fue a Eric Asimov de The New
            York Times después de que escribiera un artículo sobre el Speyside –un whisky escocés
            de la región de Strathspey–, en el cual se refirió a este empleando la “e”. ¿Te
            doy un adelanto de cómo le fue? Después de la avalancha de reclamos por parte de
            muchos escoceses, tuvo que dedicar una columna al controvertido uso de la palabra.</p>
        <p>
            P.D. En el diccionario de la RAE solo aparece como whisky o “güiski”.</p>
        <br />
        <p style="font-size: 12px">
            Fuente: Maynard, N.,<span style="font-style: italic"> Whiskey vs. Whisky: What's the
                Difference?</span> Disponible en: <a style="color: #66ffcc" target="_blank" href="http://www.thekitchn.com/whiskey-vs-whisky-whats-the-di-100476">
                    www.thekitchn.com</a>
        </p>
    </div>
</div>
<br />
<div id="fb-root">
</div>
<script>    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/es_LA/all.js#xfbml=1";
        fjs.parentNode.insertBefore(js, fjs);
    } (document, 'script', 'facebook-jssdk'));</script>
<script>    !function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = "https://platform.twitter.com/widgets.js"; fjs.parentNode.insertBefore(js, fjs); } } (document, "script", "twitter-wjs");</script>
